{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
Change Password Form
{% endblock title%}

{% block content %}

<div class="container border border-2 border-secondary rounded-2 p-4" style="max-width: 40em;">

    <h2 class="text-center">Change Password Form</h2>
    <p>Please enter your old password, for security's sake, and then enter
        your new password twice so we can verify you typed it in correctly.</p>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
        <input class="fw-bolder btn btn-success" type="submit" value="Change" />
    </form>
</div>
{% endblock content %}