{% extends "base.html" %}

{% block content %}
<div class="container border border-2 border-secondary rounded-2 p-4" style="max-width: 30em;">

    <h2>Delete</h2>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ article.title }}"?</p>
        <p>By "{{ article.author }}"?</p>
        <div class="container d-flex justify-content-between">
            <a class="btn btn-primary" href="{% url 'article_detail' article.pk %}">Cancel</a>
            <button class="btn btn-danger ml-2" type="submit">Confirm</button>
        </div>
    </form>
</div>

{% endblock content %}